:root{
    --base-color: rgb(255, 255, 223);
    --header-txt-color: rgba(255, 255, 255, 0.87);
    --header-bkgnd: rgb(238, 166, 194);
    --text-color: rgb(85, 4, 139);

    --border-grad2:rgba(255, 214, 32, 0.4);
    --border-grad1:rgb(250, 171, 239);
}

.darkmode{
    --base-color: rgb(32, 0, 68);
    --header-txt-color:  rgb(235, 205, 255);
    --header-bkgnd: rgb(64, 7, 139);
    --text-color: rgb(235, 205, 255);
    
    --border-grad2:rgb(235, 205, 255);
    --border-grad1:rgb(106, 96, 255);
}
@font-face{
    font-family: 'NAME';
    src:url(PLAYFAIRDISPLAY-VARIABLEFONT_WGHT.TTF);
    font-style: normal;
}
body{
    background-color: var(--base-color);
    color: var(--text-color);
}
h1{
    background-color:var(--header-bkgnd);
    color:var(--header-txt-color);
    font-family: NAME,'Times New Roman', Courier, monospace;
    text-align: center;
    font-weight:normal;
}
h2{
    padding: 0.25em;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--border-grad1), var(--border-grad2),rgba(106, 96, 255, 0));
}
.shelf{
    display:flex; /*side-by-side*/
    font-size: 25px;
}
.pic{
    margin-bottom: 10%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    height: 45%;
    width: 45%;
    max-height: 500px;
    max-width: 500px;
    border: 5px solid var(--border-grad1);
    border-radius: 10px;
}

#theme-switch{
    height: auto;
    width: 6%;

    min-width: 45px;
    max-width: 60px;
    aspect-ratio: 1;
    
    padding: 5px;
    border-radius: 50%; 
    background-color: var(--header-bkgnd);
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:15px;
    left:20px;

    
    border: 3px solid transparent; /*for the gradient to peek through*/
    background-clip: padding-box, border-box; 
    /*padding box is the solid button color
    border box is the gradient of the background image on the border*/
    background-image:  linear-gradient(var(--header-bkgnd),var(--header-bkgnd)),linear-gradient(to right,var(--border-grad1), var(--border-grad2));
    background-origin: border-box; /*aligns gradient to border*/
}
#theme-switch svg{
    fill:var(--header-txt-color); 
    /*SVG color customizing*/
}

#theme-switch svg:first-child{
    display:none;
    /*lightmode hides sun*/
}

.darkmode #theme-switch svg:last-child{
    display: none;
    /*darkmode hides moon*/
}

.darkmode #theme-switch svg:first-child{
    display:block;
    /*darkmode shows sun*/
}