
@font-face{
    font-family: 'NAME';
    src:url(PLAYFAIRDISPLAY-VARIABLEFONT_WGHT.TTF);
    font-style: normal;
}
h1{
    background-color: rgb(238, 166, 194);
    color:white;
    font-family: NAME,'Times New Roman', Courier, monospace;
    text-align: center;
    font-weight:normal;
}
body{
    background-color: rgb(255, 255, 223);
}
h2{
    max-height: 25rem;
    background-image: linear-gradient(to right, rgb(166, 215, 238),rgba(255, 139, 255, 0));
}