@font-face{
    font-family: test;
    src:url('Bigtimes.otf') format('otf');
}

h1{
    background-color: rgb(238, 166, 194);
    color:white;
    font-family: 'test','Times New Roman', Courier, monospace;
    text-align: center;
    font-weight:normal;
}
body{
    background-color: rgb(255, 255, 223);
}
.bio{
    display: flex;
    justify-content:center ;
}
.profilePic{
    display:flex;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    width: 15%;
    height: auto;
    border-radius: 25%;
}
.link{
    max-width: 75%; 
    width: 15rem;
    height: 3.5rem;

    margin:auto;
    
    margin-top: 1rem;
    
    display:grid;
    grid-auto-flow: column;

    justify-content: center;
    align-items: center;
    
    font-family:  test,'Courier New', sans-serif;
    color:rgb(255, 255, 255);
    background-color: rgba(228, 43, 114, 0.87);
    font-size: 12pt;
    border-radius: 35%;
}
.starR{
    max-width: 2rem;
    height: auto;
}
footer{
    text-align: left;
    
}